app.mnemonic=MNEMONIC/MT9xx Mnemonic - Agung.csv
app.pathBackup=D:\\TES\\DECRYPT\\BACKUP\\
app.pathDecrypt=D:\\TES\\DECRYPT\\IN\\
app.pathDecryptResult=D:\\TES\\DECRYPT\\DECRYPT\\
app.pathKeyDecrypt=D:\\TES\\DECRYPT\\KEY\\
app.privateKeyDecrypt=D:\\TES\\DECRYPT\\KEY\\PrivateKey.asc
app.publicKeyDecrypt=D:\\TES\\DECRYPT\\KEY\\PublicKey.asc
app.passphraseDecrypt=D:\\TES\\DECRYPT\\KEY\\pass.txt
app.pathMnemonic=D:\\TES\\DECRYPT\\MNEMONIC\\
app.pathMt=D:\\TES\\DECRYPT\\MT\\